<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practica de vuejs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="nuevafruta" @keyup.enter="agregarFruta">
        <button @click="agregarFruta">Agregar</button>
        <ul>
            <li v-for="fruta of frutas">
                <input type="number" v-model.number="fruta.cantidad">
                {{fruta.nombre}}
                <button @click="fruta.cantidad++">+</button>
               <label v-if="fruta.cantidad == 0">sin stock</label> 
            </li>
        </ul>
        <h2>TOTAL : {{sumarFrutas}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>